@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

html {
	font-size:1vw;
}

body {
	margin: 0;
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1;
}

p {
	font-size:1.5rem;
}

.row, .grid-row {
	padding: 1rem;
}

.row {
	display: block;
}

.flex-row, .inset-row {
	display:flex;
}

.grid-row {
	display: grid
}

.xl-row {
    width: 100vw !important;
}

.xl-row .inset-row {
    max-width: 1200px;
    margin: 0 auto;
}

.column {
	flex:1;
	padding:1rem;
}



/* MEDIA QUERIES: MOBILE, LARGE SCREEN, AND PRINT */


@media screen and (max-width: 680px) {
	html {font-size: 2vw;	}
	.inset-row, .flex-row {display:block;}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 12px;
	}
	.row, .flex-row, .grid-row {
		width: 1200px;
		margin: 0 auto;
	}
}

@media print {
	*:not(.honest-print) {
		background color: #ffffff !important;
		color: #000000 !important;
	}
}
